<form class="{{cssClass}} psychic-technique-sheet" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="item-name">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Psychic Technique"
        />
      </h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label for="system.value">Value</label>
      <select name="system.value">
        {{selectOptions valueOptions selected=system.value}}
      </select>
    </div>

    <div class="form-group">
      <label for="system.prerequisites">Prerequisites</label>
      <input
        name="system.prerequisites"
        type="text"
        value="{{system.prerequisites}}"
        placeholder="Discipline, rank, traits"
      />
    </div>

    <div class="form-group">
      <label for="system.focusPowerTest">Focus Power Test</label>
      <select name="system.focusPowerTest">
        {{selectOptions focusPowerTestOptions selected=system.focusPowerTest}}
      </select>
    </div>

    <div class="form-group">
      <label for="system.focusTime">Focus Time</label>
      <select name="system.focusTime">
        {{selectOptions focusTimeOptions selected=system.focusTime}}
      </select>
    </div>

    <div class="form-group">
      <label for="system.sustain">Sustain</label>
      <select name="system.sustain">
        {{selectOptions sustainOptions selected=system.sustain}}
      </select>
    </div>

    <div class="form-group">
      <label for="system.range">Range</label>
      <input
        name="system.range"
        type="text"
        value="{{system.range}}"
        placeholder="Self, 10m, Psy Rating x 5m"
      />
    </div>

    <div class="form-group stacked">
      <label for="system.description">Description</label>
      <textarea
        name="system.description"
        rows="10"
        placeholder="Details and description of the psychic technique"
      >{{system.description}}</textarea>
    </div>
  </section>
</form>
