<form class="roguetrader ship-component-sheet" autocomplete="off">
  <header class="sheet-header item-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" /></h1>
      <p class="item-subtitle">{{componentTypeLabel}}</p>
    </div>
  </header>

  <section class="item-body-grid">
    <div class="form-group">
      <label>Category</label>
      <select name="system.componentType">
        <option value=""></option>
        {{selectOptions componentCategoryOptions selected=system.componentType}}
      </select>
    </div>

    <div class="form-group item-body-grid-span">
      <label>Component Stats</label>
      <div class="ship-component-stat-row">
        <div class="form-group ship-component-mini-field">
          <label>SP Cost</label>
          <input name="system.shipPointCost" type="number" value="{{system.shipPointCost}}" step="1" />
        </div>
        <div class="form-group ship-component-mini-field">
          <label>Power</label>
          <input name="system.power" type="number" value="{{system.power}}" step="1" />
        </div>
        <div class="form-group ship-component-mini-field">
          <label>Space</label>
          <input name="system.space" type="number" value="{{system.space}}" step="1" />
        </div>
        <div class="form-group ship-component-mini-field">
          <label>Generation</label>
          <input name="system.generation" type="number" value="{{system.generation}}" step="1" />
        </div>
        <div class="form-group ship-component-origin-field">
          <label>Origin</label>
          <input name="system.origin" type="text" value="{{system.origin}}" />
        </div>
      </div>
    </div>

    <div class="form-group item-body-grid-span">
      <label>Allowed Hull Classes</label>
      <div class="ship-component-hull-flags">
        {{#each hullAvailabilityOptions as |option|}}
          <label class="ship-component-hull-flag">
            <input type="checkbox" name="system.allowedHulls.{{option.key}}" {{#if (lookup ../system.allowedHulls option.key)}}checked{{/if}} />
            <span>{{option.label}}</span>
          </label>
        {{/each}}
      </div>
    </div>

    <div class="form-group item-body-grid-span">
      <label>Short Description</label>
      <input name="system.shortDescription" type="text" value="{{system.shortDescription}}" />
    </div>

    <div class="form-group item-body-grid-span">
      <label>Description</label>
      <textarea name="system.description">{{system.description}}</textarea>
    </div>
  </section>
</form>
