<div class="ship-component-sheet item-sheet-layout">
  <header class="item-sheet-header">
    <img class="item-sheet-icon" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}" alt="{{item.name}}" />
    <div class="item-sheet-header-fields">
      <div class="form-group full-width">
        <label for="{{rootId}}-name">Name</label>
        <input id="{{rootId}}-name" name="name" type="text" value="{{item.name}}" />
      </div>
      <p class="item-sheet-subtitle">{{componentTypeLabel}}</p>
    </div>
  </header>

  <section class="item-sheet-body item-body-grid">
    <div class="form-group">
      <label for="{{rootId}}-component-type">Category</label>
      <select id="{{rootId}}-component-type" name="system.componentType">
        <option value=""></option>
        {{selectOptions componentCategoryOptions selected=system.componentType}}
      </select>
    </div>

    <div class="form-group item-body-grid-span">
      <label>Component Stats</label>
      <div class="ship-component-stat-row">
        <div class="form-group ship-component-mini-field">
          <label for="{{rootId}}-sp-cost">SP Cost</label>
          <input id="{{rootId}}-sp-cost" name="system.shipPointCost" type="number" value="{{system.shipPointCost}}" step="1" />
        </div>
        <div class="form-group ship-component-mini-field">
          <label for="{{rootId}}-power">Power</label>
          <input id="{{rootId}}-power" name="system.power" type="number" value="{{system.power}}" step="1" />
        </div>
        <div class="form-group ship-component-mini-field">
          <label for="{{rootId}}-space">Space</label>
          <input id="{{rootId}}-space" name="system.space" type="number" value="{{system.space}}" step="1" />
        </div>
        <div class="form-group ship-component-mini-field">
          <label for="{{rootId}}-generation">Generation</label>
          <input id="{{rootId}}-generation" name="system.generation" type="number" value="{{system.generation}}" step="1" />
        </div>
        {{#if isVoidShieldComponent}}
          <div class="form-group ship-component-mini-field">
            <label for="{{rootId}}-shields">Shields</label>
            <input id="{{rootId}}-shields" name="system.shields" type="number" value="{{system.shields}}" min="0" step="1" />
          </div>
        {{/if}}
        <div class="form-group ship-component-origin-field">
          <label for="{{rootId}}-origin">Origin</label>
          <input id="{{rootId}}-origin" name="system.origin" type="text" value="{{system.origin}}" />
        </div>
      </div>
    </div>

    <div class="form-group item-body-grid-span">
      <label>Allowed Hull Classes</label>
      <div class="ship-component-hull-flags">
        {{#each hullAvailabilityOptions as |option|}}
          <label class="ship-component-hull-flag" for="{{../rootId}}-hull-{{option.key}}">
            <input id="{{../rootId}}-hull-{{option.key}}" type="checkbox" name="system.allowedHulls.{{option.key}}" {{#if (lookup ../system.allowedHulls option.key)}}checked{{/if}} />
            <span>{{option.label}}</span>
          </label>
        {{/each}}
      </div>
    </div>

    <div class="form-group item-body-grid-span">
      <label for="{{rootId}}-short-description">Short Description</label>
      <input id="{{rootId}}-short-description" name="system.shortDescription" type="text" value="{{system.shortDescription}}" />
    </div>

    <div class="form-group item-body-grid-span">
      <label for="{{rootId}}-description">Description</label>
      <textarea id="{{rootId}}-description" name="system.description">{{system.description}}</textarea>
    </div>
  </section>
</div>
